@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --color-bg-btn:#48cfad;
    --color-shadow-btn: #656d78;
    --color-text-btn: #434a54;
    --color-bg-footer: #23282d;
    --color-bg-conter: #e6e9ed;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

/* -----------------------------------------------------HERO-CONTAINER------------- */

a {
    text-decoration: none;
    display: inline;   /* display horizontal */
    color: black;
}

header {
    width: 100%;  /* anchura del 100% */
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color-bg-btn);
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

nav {
   display: grid;
   grid-template: 100% / 50% 50%;
   justify-items: center;
   align-items: center;
   height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 300px;
}

nav .profile-link {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 50px;
}

nav .profile-link a {
    color: black;
    text-decoration: underline;
    font-weight: 700;
}

nav .profile-link a:hover {
    box-shadow: 0 0 6px 2px var(--color-bg-btn);
}

/* -----------------------------------------------------HERO ------------- */

.hero-container {
    width: 980px;
    height: 500px;
}

.hero-container img {
   width: 100%;
   height: 100%;
}


/* -----------------------------------------------------MID-CONTAINER------------- */

.main-container .mid-container {
    font-weight: 500;
    font-size: 22px;
    border-bottom: 2px solid var(--color-shadow-btn);
}

.main-container .mid-container h3 {
    text-align: left;
}

/* -----------------------------------------------------MAIN CONTAINER------------- */

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: auto
}

.main-container .main-blog {
    padding: 20px;
    text-align: justify;
}

.main-container .main-blog h1 {
    font-size: 30px;

}

/* -----------------------------------------------------CONTACT SECTION------------- */

.contact-container {
    padding: 0 80px;
    display: grid;
    grid-template: 2fr / 50% 50%;
    justify-items: center;
    align-items: center;
    background-color: var(--color-bg-conter);
}

.contact-container .contact-icon {
    display: flex;
    justify-content: space-evenly;
}

.contact-container .contact-icon .contact-img {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .contact-icon .contact-img img {
    width: 60px;
    height: 60px;

}

.contact-container .contact-icon .contact-text {
    padding: 30px 30px 50px 30px;
}

.contact-container .contact-icon .contact-text a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

/* -----------------------------------------------------FOOTER------------- */

.footer-container {
    padding-top: 50px;
    background-color: var(--color-bg-btn);
}

.footer-container .footer-bottom {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-footer);

}

.footer-container .footer-bottom span {
    color: white;
}